html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2ce16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    border-bottom: solid 1px #bbb;
    padding: 1.5em 0;
}

.label {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.value {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1.3em;
}

#qrcode {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 3em;
}

#footer-image {
    margin-top: 3em;
    width: 100%;
    height: 300px;

    background: url('train.png');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* if screen is smartphone sized, apply different height to #footer-image */
@media (max-width: 600px) {
    #footer-image {
        height: 200px;
    }
}